<div class="row" style="padding: 0;margin: 0">
  <div class="col-md-12" >
    <H1 style="text-align: center;text-transform: uppercase">Đăng kí tài khoản</H1>
  </div>
</div>

<div class="row" style="margin-top: 40px; margin-left: 0px; margin-right: 0px">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="employeeFormCreate" (ngSubmit)="submit()">
          <!-- 2 column grid layout with text inputs for the first and last names -->
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input formControlName="firstName" type="text"  class="form-control" />
                <label class="form-label" >Họ lót</label>
                <span class="validate" *ngIf="employeeFormCreate.controls.firstName.touched && employeeFormCreate.controls.fullName.errors?.required">Tên không được để trống !.</span>
                <span class="validate" *ngIf="employeeFormCreate.controls.firstName.touched && employeeFormCreate.controls.fullName.errors?.minlength">Tên phải có ít nhất 6 ký tự !</span>
                <span class="validate" *ngIf="employeeFormCreate.controls.firstName.touched && employeeFormCreate.controls.fullName.errors?.maxlength">Tên không được quá 45 ký tự !</span>
                <span class="validate" *ngIf="employeeFormCreate.controls.firstName.touched && employeeFormCreate.controls.fullName.errors?.pattern">Tên không đúng định dạng, vui lòng nhập lại!</span>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input formControlName="lastName" type="text"  class="form-control" />
                <label class="form-label" >Tên</label>
                <span class="validate" *ngIf="employeeFormCreate.controls.lastName.touched && employeeFormCreate.controls.lastName.errors?.required">Tên không được để trống !.</span>
                <span class="validate" *ngIf="employeeFormCreate.controls.lastName.touched && employeeFormCreate.controls.lastName.errors?.minlength">Tên phải có ít nhất 6 ký tự !</span>
                <span class="validate" *ngIf="employeeFormCreate.controls.lastName.touched && employeeFormCreate.controls.lastName.errors?.maxlength">Tên không được quá 45 ký tự !</span>
                <span class="validate" *ngIf="employeeFormCreate.controls.lastName.touched && employeeFormCreate.controls.lastName.errors?.pattern">Tên không đúng định dạng, vui lòng nhập lại !</span>
              </div>
            </div>
          </div>

          <!-- Text input -->
          <div class="form-outline mb-4">
            <input formControlName="email" type="text"  class="form-control" />
            <label class="form-label">Email</label>
            <span class="validate" *ngIf="(employeeFormCreate.controls.email.dirty || employeeFormCreate.controls.email.touched) && employeeFormCreate.controls.email.errors?.required">Email không được để trống !</span>
            <span class="validate" *ngIf="(employeeFormCreate.controls.email.dirty || employeeFormCreate.controls.email.touched) &&  employeeFormCreate.controls.email.errors?.email">Email không đúng định dạng, vui lòng nhập lại email !</span>
          </div>

          <!-- Text input -->
          <div class="form-outline mb-4">
            <input formControlName="password" type="password"  class="form-control" />
            <label class="form-label" >Mật khẩu</label>
            <span class="validate" *ngIf="employeeFormCreate.controls.password.touched && employeeFormCreate.controls.password.errors?.required">Mật khẩu không được để trống !</span>
            <span class="validate" *ngIf="employeeFormCreate.controls.password.touched && employeeFormCreate.controls.password.errors?.pattern">Mật khẩu phải có ít nhất 6 ký tự ,ít nhật 1 ký tự hoa, ký tự thường ,một số và ký tự đặc biệt!</span>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input formControlName="confirmPassword" type="password"  class="form-control" />
            <label class="form-label">Nhập lại mật khẩu</label>
            <span class="validate" *ngIf="employeeFormCreate.controls.confirmPassword.touched && employeeFormCreate.controls.confirmPassword.errors?.required">Nhập lại mật khẩu không được để trống !</span>
            <span class="validate" *ngIf="employeeFormCreate.hasError('not') && employeeFormCreate.controls.confirmPassword.touched">Mật khẩu không trùng khớp</span>
          </div>
          <!-- Number input -->
          <div class="form-outline mb-4">
            <input formControlName="phoneNumber" type="number"  class="form-control" />
            <label class="form-label" >Số điện thoại</label>
            <span class="validate" *ngIf="employeeFormCreate.controls.phoneNumber.touched && employeeFormCreate.controls.phoneNumber.errors?.required">Số điện thoại không được để trống !</span>
            <span class="validate" *ngIf="employeeFormCreate.controls.phoneNumber.touched && employeeFormCreate.controls.phoneNumber.errors?.pattern">Số điện thoại không đúng định dạng <span style="color: blue">0xxxxxxxxx</span>, vui lòng nhập số điện thoại.</span>
          </div>

          <!-- Message input -->
          <div class="form-outline mb-4">
            <input formControlName="address" type="text" class="form-control" />
            <label class="form-label" >Địa chỉ</label>
            <span class="validate" *ngIf="(employeeFormCreate.controls.address.dirty || employeeFormCreate.controls.address.touched) && employeeFormCreate.controls.address.errors?.required">Địa chỉ không được để trống !</span>
            <span class="validate" *ngIf="employeeFormCreate.controls.address.touched && employeeFormCreate.controls.address.errors?.minlength">Địa chỉ phải có ít nhất 3 ký tự !</span>
            <span class="validate" *ngIf="employeeFormCreate.controls.address.touched && employeeFormCreate.controls.address.errors?.maxlength">Địa chỉ không được quá 100 ký tự !</span>
          </div>

          <!-- Checkbox -->
          <div class="form-check d-flex justify-content-center mb-4">
            <input class="form-check-input me-2" type="checkbox" value="" id="form6Example8" checked />
            <label class="form-check-label" for="form6Example8"> Đăng kí tài khoản? </label>
          </div>

          <!-- Submit button -->
          <div class="row">
            <div class="col-md-6">
              <button type="button" routerLink="" class="btn btn-primary mb-2" style="float: right">Trở lại</button>
            </div>
            <div class="col-md-6">
              <button type="submit" class="btn btn-primary mb-2">Đăng kí</button>
            </div>
          </div>


        </form>


      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
