<div class="wrapper col-md-12" style="height: 100%">
  <div class="row">
    <div class="sidebar col-md-2" data-color="purple" style="position: relative; height: 100vh;">
      <div class="row" style="height: 100%">
        <div class="sidebar-wrapper col-md-12" style="background: linear-gradient(#FF9999, #0066FF);">
          <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
              MOM&&KID
            </a>
          </div>

          <ul class="nav">
            <li class="active">
              <a href="dashboard.html">
                <i class="pe-7s-graph"></i>
                <p>Dashboard</p>
              </a>
            </li>
            <li>
              <a routerLink="/listSchedule" class="nav-link link-dark">
                <i class='bx bx-calendar'></i>
                <span style="margin-left: -8px">Quản lý lịch trình</span>
              </a>
            </li>
            <li>
              <a routerLink="/listDoctor" class="nav-link link-dark">
                <i class='bx bx-plus-medical'></i>
                <span style="margin-left: -8px">Quản lý bác sĩ</span>
              </a>
            </li>
            <li>
              <a routerLink="/listUser"  class="nav-link link-dark" aria-current="page">
                <i class='bx bxs-user-circle'></i>
                <span style="margin-left: -8px">Quản lý người dùng</span>
              </a>
            </li>

            <li>
              <a routerLink="/listAccount"  class="nav-link link-dark" aria-current="page">
                <i class='bx bxs-user-account' ></i>
                <span style="margin-left: -8px">Quản lý tài khoản</span>
              </a>
            </li>

            <li>
              <a routerLink="/listBlogs"  class="nav-link link-dark" aria-current="page">
                <i class='bx bxs-user-account' ></i>
                <span style="margin-left: -8px">Quản lý bài viết</span>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <div class="main-content col-md-10 bg-light">
      <div class="row">
        <div class="col-md-12" style="height: 60px; background: linear-gradient(to right, #FF9999, #FF3399);">
          <div class="row">
            <div class="col-md-11" style="height: 60px;">

            </div>
            <div class="col-md-1" style="height: 60px;">
              <div class="row">
                <div class="col-md-12" style="height: 60px;">
                  <a routerLink="/home" style="font-size: 16px;line-height: 60px"> <i class='bx bx-exit' style="font-size: 18px;"></i><span style="position: absolute ; margin-top: -2px">Thoát</span></a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12 container-content">
          <div class="row">
            <div class="col-md-12"  style="margin-top: 15px">
              <a routerLink="/listDoctor" href="" style="font-weight: bold; margin-left: 30px; text-decoration: none; float: left; position: absolute">Bác sĩ</a>
              <a routerLink="/doctorCreate" href="" style="font-weight: bold; margin-top: 15px; margin-left: 30px; text-decoration: none;margin-left: 77px">&nbsp;/ Thêm mới</a>
            </div>
          </div>
          <!--       Main        -->
          <div class="col-lg-12" style="margin-top: 15px; margin-right: -15px; margin-left: -15px">
            <div class="col">
              <div class="card">
                <!--          add-->

                <div class="container-add">

                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                      <div class="row" style=" margin-top: 20px;">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3 txt">
                              <span class="tit">*</span><span>Hình ảnh </span>
                            </div>

                            <div class="col-md-9">
                              <div class="row">
                                <div class="col-md-3">
                                  <div class="" style="width: 100px">
                                    <img class="w-100 h-100"
                                         [src]="oldAvatarLink"
                                         alt="avt" style="border-radius: 5px; border:4px solid darkred; margin-bottom: 12px ">
                                  </div>
                                </div>
                                <div class="col-md-9 inp">
                                  <input class="form-control" type="file" id="formFile" (change)="getAvatar($event)" placeholder="Chọn hình ảnh">
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <form [formGroup]="doctorFormEdit" (ngSubmit)="submit()">

                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-3 txt">
                                    <span class="tit">*</span><span for="validationDefaultUsername">Tài khoản </span>
                                  </div>
                                  <div class="col-md-9 inp">
                                    <input formControlName="username" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required class="form-control" type="text" placeholder="tayps">
                                    <!--                              <span class="validate" *ngIf="employeeFormCreate.controls.username.touched && employeeFormCreate.controls.username.errors?.required">Tên tài khoản không được bỏ trống</span>-->
                                    <!--                              <span class="validate" *ngIf="employeeFormCreate.controls.username.touched && employeeFormCreate.controls.username.errors?.minlength">Tài khoản phải có ít nhất 6 ký tự</span>-->
                                    <!--                              <span class="validate" *ngIf="employeeFormCreate.controls.username.touched && employeeFormCreate.controls.username.errors?.maxlength">Tài khoản quá dài, tài khoản chỉ từ 6 đến 45 ký tự.</span>-->
                                    <!--                              <span class="validate" *ngIf="employeeFormCreate.controls.username.touched && employeeFormCreate.controls.username.errors?.pattern">Tài khoản không đúng định dạng ! Vui lòng nhập lại.</span>-->
                                  </div>
                                </div>
                              </div>
                            </div>
<!--                            <div class="row">-->
<!--                              <div class="col-md-12">-->
<!--                                <div class="row">-->
<!--                                  <div class="col-md-3 txt">-->
<!--                                    <span class="tit">*</span><span>Mật khẩu </span>-->
<!--                                  </div>-->
<!--                                  <div class="col-md-9 inp">-->
<!--                                    <input formControlName="password" class="form-control" type="password" placeholder="Ex: Cpvvtpnpp123">-->
<!--                                    <span class="validate" *ngIf="doctorFormEdit.controls.password.touched && doctorFormEdit.controls.password.errors?.required">Mật khẩu không được để trống !</span>-->
<!--                                    <span class="validate" *ngIf="doctorFormEdit.controls.password.touched && doctorFormEdit.controls.password.errors?.pattern">Mật khẩu phải có ít nhất 6 ký tự ,ít nhật 1 ký tự hoa, ký tự thường ,một số và ký tự đặc biệt!</span>-->
<!--                                  </div>-->
<!--                                </div>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                            <div class="row">-->
<!--                              <div class="col-md-12">-->
<!--                                <div class="row">-->
<!--                                  <div class="col-md-3 txt">-->
<!--                                    <span class="tit">*</span><span>Nhập lại Mật khẩu </span>-->
<!--                                  </div>-->
<!--                                  <div class="col-md-9 inp">-->
<!--                                    <input formControlName="confirmPassword" class="form-control" type="password" placeholder="Ex: Cpvvtpnpp123">-->
<!--                                    <span class="validate" *ngIf="doctorFormEdit.controls.confirmPassword.touched && doctorFormEdit.controls.confirmPassword.errors?.required">Nhập lại mật khẩu không được để trống !</span>-->
<!--                                    <span class="validate" *ngIf="doctorFormEdit.hasError('not') && doctorFormEdit.controls.confirmPassword.touched">Mật khẩu không trùng khớp</span>-->
<!--                                  </div>-->
<!--                                </div>-->
<!--                              </div>-->
<!--                            </div>-->
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-3 txt">
                                    <span class="tit">*</span><span>Họ lót</span>
                                  </div>
                                  <div class="col-md-9 inp">
                                    <input formControlName="firstName" class="form-control" type="text" placeholder="Ex: Phan Sỉ">
                                    <span class="validate" *ngIf="doctorFormEdit.controls.firstName.touched && doctorFormEdit.controls.firstName.errors?.required">Tên không được để trống !.</span>
                                    <span class="validate" *ngIf="doctorFormEdit.controls.firstName.touched && doctorFormEdit.controls.firstName.errors?.minlength">Tên phải có ít nhất 6 ký tự !</span>
                                    <span class="validate" *ngIf="doctorFormEdit.controls.firstName.touched && doctorFormEdit.controls.firstName.errors?.maxlength">Tên không được quá 45 ký tự !</span>
                                    <span class="validate" *ngIf="doctorFormEdit.controls.firstName.touched && doctorFormEdit.controls.firstName.errors?.pattern">Tên không đúng định dạng, vui lòng nhập lại!</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-3 txt">
                                    <span class="tit">*</span><span>Tên</span>
                                  </div>
                                  <div class="col-md-9 inp">
                                    <input formControlName="lastName" class="form-control" type="text" placeholder="Ex: Tây">
                                    <span class="validate" *ngIf="doctorFormEdit.controls.lastName.touched && doctorFormEdit.controls.lastName.errors?.required">Tên không được để trống !.</span>
                                    <span class="validate" *ngIf="doctorFormEdit.controls.lastName.touched && doctorFormEdit.controls.lastName.errors?.minlength">Tên phải có ít nhất 6 ký tự !</span>
                                    <span class="validate" *ngIf="doctorFormEdit.controls.lastName.touched && doctorFormEdit.controls.lastName.errors?.maxlength">Tên không được quá 45 ký tự !</span>
                                    <span class="validate" *ngIf="doctorFormEdit.controls.lastName.touched && doctorFormEdit.controls.lastName.errors?.pattern">Tên không đúng định dạng, vui lòng nhập lại !</span>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-3 txt">
                                    <span class="tit">*</span><span>Số điện thoại </span>
                                  </div>
                                  <div class="col-md-9 inp">
                                    <input formControlName="phoneNumber" class="form-control" type="text" placeholder="Ex: 0366009104">
                                    <span class="validate" *ngIf="doctorFormEdit.controls.phoneNumber.touched && doctorFormEdit.controls.phoneNumber.errors?.required">Số điện thoại không được để trống !</span>
                                    <span class="validate" *ngIf="doctorFormEdit.controls.phoneNumber.touched && doctorFormEdit.controls.phoneNumber.errors?.pattern">Số điện thoại không đúng định dạng <span style="color: blue">0xxxxxxxxx</span>, vui lòng nhập số điện thoại.</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-3 txt">
                                    <span class="tit">*</span><span>Email </span>
                                  </div>
                                  <div class="col-md-9 inp">
                                    <input formControlName="email" class="form-control" type="text" placeholder="Ex: phansitay@gmail.com">
                                    <span class="validate" *ngIf="(doctorFormEdit.controls.email.dirty || doctorFormEdit.controls.email.touched) && doctorFormEdit.controls.email.errors?.required">Email không được để trống !</span>
                                    <span class="validate" *ngIf="(doctorFormEdit.controls.email.dirty || doctorFormEdit.controls.email.touched) &&  doctorFormEdit.controls.email.errors?.email">Email không đúng định dạng, vui lòng nhập lại email !</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-3 txt">
                                    <span class="tit">*</span><span>Địa chỉ</span>
                                  </div>
                                  <div class="col-md-9 inp">
                                    <input formControlName="address" class="form-control" type="text" placeholder="Ex: 592 Trưng Nữ Vương">
                                    <span class="validate" *ngIf="(doctorFormEdit.controls.address.dirty || doctorFormEdit.controls.address.touched) && doctorFormEdit.controls.address.errors?.required">Địa chỉ không được để trống !</span>
                                    <span class="validate" *ngIf="doctorFormEdit.controls.address.touched && doctorFormEdit.controls.address.errors?.minlength">Địa chỉ phải có ít nhất 3 ký tự !</span>
                                    <span class="validate" *ngIf="doctorFormEdit.controls.address.touched && doctorFormEdit.controls.address.errors?.maxlength">Địa chỉ không được quá 100 ký tự !</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-3 txt">
                                    <span class="tit">*</span><span>Giờ làm việc</span>
                                  </div>
                                  <div class="col-md-9 inp">
                                    <input formControlName="businessHours" class="form-control" type="text" placeholder="Ex: 592 Trưng Nữ Vương">
<!--                                    <span class="validate" *ngIf="(doctorFormEdit.controls.businessHours.dirty || doctorFormEdit.controls.businessHours.touched) && doctorFormEdit.controls.address.errors?.required">giờ làm không được để trống !</span>-->
                                    <span class="validate" *ngIf="doctorFormEdit.controls.businessHours.touched && doctorFormEdit.controls.businessHours.errors?.minlength">Địa chỉ phải từ 7h00 !</span>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-3 txt">
                                    <span class="tit">*</span><span>Phòng khám</span>
                                  </div>
                                  <div class="col-md-9 inp">
                                    <input formControlName="roomName" class="form-control" type="text" placeholder="Ex: Phòng khám đa khoa nhi Đà Nẵng">
                                    <span class="validate" *ngIf="(doctorFormEdit.controls.roomName.dirty || doctorFormEdit.controls.roomName.touched) && doctorFormEdit.controls.roomName.errors?.required">Phòng khám không được để trống !</span>
                                    <span class="validate" *ngIf="doctorFormEdit.controls.roomName.touched && doctorFormEdit.controls.roomName.errors?.minlength">Phòng khám phải có ít nhất 3 ký tự !</span>
                                    <span class="validate" *ngIf="doctorFormEdit.controls.roomName.touched && doctorFormEdit.controls.roomName.errors?.maxlength">Phòng khám không được quá 100 ký tự !</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-6">
                                    <button  style="width: 100px;float: right" type="button"  class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModalThoat" >Quay lại</button>
                                  </div>
                                  <div class="col-md-6">
                                    <button  style="width: 100px; margin-left: 10px" type="button" class="btn addedit" data-bs-toggle="modal" data-bs-target="#myModalUpdate"  >Cập nhật</button>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </form>
                        </div>
                      </div>

                    </div>
                    <div class="col-md-1">
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!--modal thêm mới-->
<div class="modal fade" id="myModalUpdate">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Xác nhận</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        Bạn thực sự muốn cập nhật sự thay đổi này không?
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="submit()">Có</button>
      </div>

    </div>
  </div>
</div>


<!--modal Thoat-->
<div class="modal fade" id="myModalThoat">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Xác nhận</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        Bạn thực sự muốn thoát khỏi trang này không?
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" routerLink="/listDoctor">Có</button>
      </div>

    </div>
  </div>
</div>

