<div class="wrapper col-md-12" style="height: 100%">
  <div class="row">
    <div class="sidebar col-md-2" data-color="purple" style="position: relative; height: 100vh;">
      <div class="row">
        <div class="sidebar-wrapper col-md-12">
          <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
              MOM&&KID
            </a>
          </div>

          <ul class="nav">
            <li>
              <a routerLink="/listSchedule" class="nav-link link-dark">
                <img src="../../../assets/image/lichtrinh.png" height="20" width="20"/>
                <p>&nbsp; &nbsp; Quản lý lịch trình</p>
              </a>
            </li>
            <li>
              <a routerLink="/listDoctor" class="nav-link link-dark">

                <img src="../../../assets/image/doctor.jpg" height="20" width="20"/>
                <p>&nbsp; &nbsp; Quản lý bác sĩ</p>
              </a>
            </li>
            <li>
              <a routerLink="/listUser"  class="nav-link link-dark" aria-current="page">
                <img src="../../../assets/image/user.jpg" height="20" width="20"/>
                <p>&nbsp; &nbsp; Quản lý người dùng</p>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <div class="main-content col-md-10 bg-light">
      <div class="row">
        <div class="col-md-12" style="height: 60px; background-color: rgba(255, 255, 255, 0.96);">
          <div class="row">
            <div class="col-md-11">

            </div>
            <div class="col-md-1">
              <a href="" style="line-height: 50px;">Logout</a>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12 container-content">
          <div class="row">
            <a routerLink="/listDoctor" href="" style="font-weight: bold; margin-top: 15px; margin-left: 30px; text-decoration: none; float: left; position: absolute">Bác sĩ</a>
            <a routerLink="/doctorCreate" href="" style="font-weight: bold; margin-top: 15px; margin-left: 30px; text-decoration: none;margin-left: 77px">&nbsp;/ Thêm mới</a>
          </div>
          <!--       Main        -->
          <div class="col-lg-12" style="margin-top: 15px; margin-right: -15px; margin-left: -15px">
            <div class="col">
              <div class="card">
                <!--          add-->

                <div class="container-add">

                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                      <!--                <div class="row">-->
                      <!--                  <div class="col-md-12">-->
                      <!--                    <div class="row">-->
                      <!--                      <div class="col-md-3 txt">-->
                      <!--                        <span class="tit">*</span><span>Hình ảnh </span>-->
                      <!--                      </div>-->

                      <!--                      <div class="col-md-9">-->
                      <!--                        <div class="row">-->
                      <!--                          <div class="col-md-3">-->
                      <!--                            <div class="" style="width: 100px">-->
                      <!--                              <img class="w-100"-->
                      <!--                                   [src]="oldAvatarLink"-->
                      <!--                                   alt="avt" style="border-radius: 5px; border:4px solid darkred">-->
                      <!--                            </div>-->
                      <!--                          </div>-->
                      <!--                          <div class="col-md-9 inp">-->
                      <!--                            <input  class="form-control" type="file" id="formFile" (change)="getAvatar($event)">-->
                      <!--&lt;!&ndash;                            <span class="validate" *ngIf="employeeFormCreate.controls.image.touched && employeeFormCreate.controls.image.errors?.required">Hình ảnh không được để trống, vui lòng chọn ảnh</span>&ndash;&gt;-->
                      <!--&lt;!&ndash;                            <span class="validate" *ngIf="employeeFormCreate.controls.image.touched && employeeFormCreate.controls.image.errors?.required">Hình ảnh không được để trống, vui lòng chọn ảnh</span>&ndash;&gt;-->
                      <!--                          </div>-->
                      <!--                        </div>-->
                      <!--                      </div>-->

                      <!--                    </div>-->
                      <!--                  </div>-->
                      <!--                </div>-->
                      <div class="row">
                        <div class="col-md-12">
                          <form [formGroup]="doctorFormCreate" (ngSubmit)="submit()">

                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-3 txt">
                                    <span class="tit">*</span><span for="validationDefaultUsername">Tài khoản </span>
                                  </div>
                                  <div class="col-md-9 inp">
                                    <input formControlName="username" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required class="form-control" type="text" placeholder="Enter Account">
                                    <!--                              <span class="validate" *ngIf="employeeFormCreate.controls.username.touched && employeeFormCreate.controls.username.errors?.required">Tên tài khoản không được bỏ trống</span>-->
                                    <!--                              <span class="validate" *ngIf="employeeFormCreate.controls.username.touched && employeeFormCreate.controls.username.errors?.minlength">Tài khoản phải có ít nhất 6 ký tự</span>-->
                                    <!--                              <span class="validate" *ngIf="employeeFormCreate.controls.username.touched && employeeFormCreate.controls.username.errors?.maxlength">Tài khoản quá dài, tài khoản chỉ từ 6 đến 45 ký tự.</span>-->
                                    <!--                              <span class="validate" *ngIf="employeeFormCreate.controls.username.touched && employeeFormCreate.controls.username.errors?.pattern">Tài khoản không đúng định dạng ! Vui lòng nhập lại.</span>-->
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-3 txt">
                                    <span class="tit">*</span><span>Mật khẩu </span>
                                  </div>
                                  <div class="col-md-9 inp">
                                    <input formControlName="password" class="form-control" type="password" placeholder="Enter Password">
                                    <!--                              <span class="validate" *ngIf="employeeFormCreate.controls.password.touched && employeeFormCreate.controls.password.errors?.required">Mật khẩu không được để trống !</span>-->
                                    <!--                              <span class="validate" *ngIf="employeeFormCreate.controls.password.touched && employeeFormCreate.controls.password.errors?.pattern">Mật khẩu phải có ít nhất 8 ký tự ,ít nhật 1 ký tự hoa, ký tự thường ,một số và ký tự đặc biệt!</span>-->
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-3 txt">
                                    <span class="tit">*</span><span>Nhập lại Mật khẩu </span>
                                  </div>
                                  <div class="col-md-9 inp">
                                    <input formControlName="confirmPassword" class="form-control" type="password" placeholder="Entern confirm Password">
                                    <!--                              <span class="validate" *ngIf="employeeFormCreate.controls.confirmPassword.touched && employeeFormCreate.controls.confirmPassword.errors?.required">Nhập lại mật khẩu không được để trống !</span>-->
                                    <!--                              <span class="validate" *ngIf="employeeFormCreate.hasError('not') && employeeFormCreate.controls.confirmPassword.touched">Mật khẩu không trùng khớp</span>-->
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-3 txt">
                                    <span class="tit">*</span><span>Họ lót</span>
                                  </div>
                                  <div class="col-md-9 inp">
                                    <input formControlName="firstName" class="form-control" type="text" placeholder="Enter name">
                                    <!--                              <span class="validate" *ngIf="employeeFormCreate.controls.fullName.touched && employeeFormCreate.controls.fullName.errors?.required">Tên không được để trống, vui lòng  nhập tên.</span>-->
                                    <!--                              <span class="validate" *ngIf="employeeFormCreate.controls.fullName.touched && employeeFormCreate.controls.fullName.errors?.minlength">Tên phải có ít nhất 7 ký tự, vui lòng nhập lại.</span>-->
                                    <!--                              <span class="validate" *ngIf="employeeFormCreate.controls.fullName.touched && employeeFormCreate.controls.fullName.errors?.maxlength">Tên không được quá 45 ký tự, vui lòng nhập lại.</span>-->
                                    <!--                              <span class="validate" *ngIf="employeeFormCreate.controls.fullName.touched && employeeFormCreate.controls.fullName.errors?.pattern">Tên không đúng định dạng, vui lòng nhập lại.</span>-->
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-3 txt">
                                    <span class="tit">*</span><span>Tên</span>
                                  </div>
                                  <div class="col-md-9 inp">
                                    <input formControlName="lastName" class="form-control" type="text" placeholder="Enter name">
                                    <!--                              <span class="validate" *ngIf="employeeFormCreate.controls.fullName.touched && employeeFormCreate.controls.fullName.errors?.required">Tên không được để trống, vui lòng  nhập tên.</span>-->
                                    <!--                              <span class="validate" *ngIf="employeeFormCreate.controls.fullName.touched && employeeFormCreate.controls.fullName.errors?.minlength">Tên phải có ít nhất 7 ký tự, vui lòng nhập lại.</span>-->
                                    <!--                              <span class="validate" *ngIf="employeeFormCreate.controls.fullName.touched && employeeFormCreate.controls.fullName.errors?.maxlength">Tên không được quá 45 ký tự, vui lòng nhập lại.</span>-->
                                    <!--                              <span class="validate" *ngIf="employeeFormCreate.controls.fullName.touched && employeeFormCreate.controls.fullName.errors?.pattern">Tên không đúng định dạng, vui lòng nhập lại.</span>-->
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-3 txt">
                                    <span class="tit">*</span><span>Số điện thoại </span>
                                  </div>
                                  <div class="col-md-9 inp">
                                    <input formControlName="phoneNumber" class="form-control" type="text" placeholder="Enter phone">
                                    <!--                              <span class="validate" *ngIf="employeeFormCreate.controls.phoneNumber.touched && employeeFormCreate.controls.phoneNumber.errors?.required">Số điện thoại không được để trống, vui lòng nhập số điện thoại.</span>-->
                                    <!--                              <span class="validate" *ngIf="employeeFormCreate.controls.phoneNumber.touched && employeeFormCreate.controls.phoneNumber.errors?.pattern">Số điện thoại không đúng định dạng <span style="color: blue">0xxxxxxxxx</span>, vui lòng nhập số điện thoại.</span>-->
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-3 txt">
                                    <span class="tit">*</span><span>Email </span>
                                  </div>
                                  <div class="col-md-9 inp">
                                    <input formControlName="email" class="form-control" type="text" placeholder="Enter Email">
                                    <!--                              <span class="validate" *ngIf="(employeeFormCreate.controls.email.dirty || employeeFormCreate.controls.email.touched) && employeeFormCreate.controls.email.errors?.required">Email không được để trống, vui lòng nhập email !</span>-->
                                    <!--                              <span class="validate" *ngIf="(employeeFormCreate.controls.email.dirty || employeeFormCreate.controls.email.touched) &&  employeeFormCreate.controls.email.errors?.email">Email không đúng định dạng, vui lòng nhập lại email !</span>-->
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-6">
                                    <button  style="width: 100px;float: right" type="submit" class="btn addedit" data-bs-dismiss="modal">Thêm</button>
                                  </div>
                                  <div class="col-md-6">
                                    <!--                              [disabled]="employeeFormCreate.invalid"-->
                                    <button routerLink="/listDoctor" style="width: 100px; margin-left: 10px" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModalThoat" >Quay lại</button>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </form>
                        </div>
                      </div>

                    </div>
                    <div class="col-md-1">
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



