<div class="row" style="margin: 0">
  <div class="col-md-12" >
    <div class="row">
      <div class="col-md-12" style="padding: 0">
        <header>
          <nav class="navbar navbar-expand-lg navbar-light bg-light" style="min-height: 100px; box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);">
            <div class="container-fluid">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-3">
                    <a class="navbar-brand" href="#" style="font-family: Arial,Helvetica,sans-serif;">
                      <!--                      <img src="../../../assets/image/logo.png" alt="MOM&&KID" width="100%" height="85">-->
                      MOM && KID
                    </a>
                  </div>
                  <div class="col-md-9">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item ">
                          <a class="nav-link act" routerLink="/home">Dịch vụ</a>
                        </li>
                        <li class="nav-item ">
                          <a class="nav-link act" routerLink="/home-blog">Bài viết</a>
                        </li>
                        <li class="nav-item ">
                          <a class="nav-link act" routerLink="/home-doctor">Bác sĩ</a>
                        </li>
                        <li class="nav-item ">
                          <a class="nav-link act" href="#">Liên hệ</a>
                        </li>
                      </ul>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="dropdown">
                      <button class="dropbtn">Đăng xuất</button>
                      <div class="dropdown-content">
                        <a routerLink="/profiles">Thông tin tài khoản</a>
                        <a (click)="check()">Trang quản lý</a>
                        <a (click)="exit()">Đăng xuất</a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </nav>
        </header>
      </div>
    </div>
    <div class="row" style="margin-top: 100px;">
      <div class="col-md-12 element">

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2">

          </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-12">
                        <h1>Giới thiệu</h1>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <p>
                          Với các vấn đề về chăm sóc sức khỏe và sự phát triển toàn diện của bé, cũng như hỗ trợ người mẹ có thể dễ dàng chăm sóc trẻ, không bị stress khi làm mẹ.
                          Chúng tôi đã nghiên cứu, tìm hiểu các phương pháp nuôi dạy con hiện nay và nhận thấy phương pháp lịch trình EASY rất hữu ích và được các bà mẹ lựa chọn để chăm sóc bé. Chúng tôi sử dụng chuẩn BMI để theo dõi tình trạng sức khỏe của bé dựa theo cân nặng và chiều cao. Bên cạnh đó, chúng tôi còn hỗ trợ, chia sẻ kiến thức, kinh nghiệm cho các bà mẹ thông qua blog và chatbot.
                        </p>
                        <br>
                        <p>
                          Sau đây thì tôi sẽ làm rõ các cách giải quyết này và chỉ ra lợi ích từ nó.
                        </p>
                        <h5>
                          Lịch EASY
                        </h5>
                        <p>
                          Phương pháp nuôi con EASY là một cách thức huấn luyện nếp sinh hoạt – ăn ngủ cho bé ngay từ khi con còn rất nhỏ theo một chu kỳ có tính chất lặp đi lặp lại.
                          EASY là chuỗi hoạt động bao gồm Eat – Activity – Sleep – Your time. Chu kỳ này bắt đầu từ sáng lúc trẻ sơ sinh vừa thức dậy cho đến tối khi con lên giường đi ngủ. Phương pháp gồm 4 chu kỳ chính, tương đương với 4 giai đoạn tháng tuổi phát triển của bé.
                          E.A.S.Y. schedule có nhiều lợi ích cho cả trẻ và cha mẹ, bao gồm:
                        </p>
                        <p>
                          &nbsp;&nbsp;- Tạo ra sự ổn định và dự đoán: giúp xây dựng chu kỳ sinh hoạt cho bé khoa học và hợp lý. Việc có một lịch trình rõ ràng giúp trẻ biết điều gì sẽ xảy ra tiếp theo và tạo ra sự dự đoán, làm giảm căng thẳng và lo lắng.
                        </p>
                        <p>
                          &nbsp;&nbsp;- Giúp trẻ tự điều chỉnh mức độ ăn, hoạt động và ngủ. Trẻ có cơ hội phát triển kỹ năng tự quản lý và tự điều chỉnh nhu cầu của mình, tạo ra sự đồng nhất giữa cơ thể và tâm trí</p>
                        <p>&nbsp;&nbsp;- Hỗ trợ giấc ngủ và phát triển. Trẻ được hướng dẫn để biết khi nào nên đi ngủ, giúp cải thiện chất lượng giấc ngủ và sự phát triển của hệ thần kinh</p>
                        <p>&nbsp;&nbsp;- Giúp quản lý thời gian của cha mẹ hiệu quả và tạo ra sự cân bằng giữa chăm sóc trẻ, công việc và thời gian riêng. Việc có một lịch trình rõ ràng giúp cha mẹ tổ chức công việc và hoạt động hàng ngày một cách hợp lý</p>

                        <h5>Chuẩn BMI</h5>
                        <p>BMI (Body Mass Index) là một chỉ số được sử dụng phổ biến để đánh giá mức độ phù hợp giữa cân nặng và chiều cao bằng cách chia cân nặng (kg) cho chiều cao (m) bình phương.
                          Chỉ số BMI giúp cho biết một số tình trạng sức khỏe ở trẻ em như bé có đang bị béo phì hay thiếu cân hay không, Cân nặng của trẻ có phù với chiều cao của mình hay không, Bé có nguy cơ bị các vấn đề sức khỏe liên quan đến cân nặng của mình hay không dựa trên chỉ số BMI.
                        </p>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-12" style="width: 100%;height: 100%;position: relative; padding: 0">
                        <img src="./assets/image/mombabyand.jpg" style="width: 100%;height: 100%;" alt="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" >
                  <div class="col-md-12" style="padding: 0">
                    <p>Việc xem xét BMI mang lại một số lợi ích quan trọng, bao gồm:</p>
                    <p>&nbsp;&nbsp;- BMI cung cấp một số liệu định lượng về mức độ phù hợp giữa cân nặng và chiều cao của bạn. Nó giúp đánh giá tổng thể về cơ thể và có thể cho biết xem bạn thuộc nhóm gầy, bình thường, thừa cân hay béo phì.</p>
                    <p>&nbsp;&nbsp;- Phát hiện dấu hiệu nguy cơ sức khỏe và có thể thực hiện các biện pháp phòng ngừa và điều trị sớm.</p>
                    <p>&nbsp;&nbsp;- Theo dõi quá trình giảm cân hoặc tăng cân và đưa ra điều chỉnh khi cần thiết.</p>
                    <p>&nbsp;&nbsp;- Cung cấp thông tin định hướng cho lựa chọn chế độ ăn uống và hoạt động thể chất để duy trì cân nặng và sức khỏe tốt.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="padding: 0">
        <!--         Footer-->
        <footer class=" text-center text-white" style="background-color:#1a1a1a;">
          <!-- Grid container -->
          <div class="container p-4">

            <!-- Section: Social media -->
            <section class="mb-4">
              <!-- Facebook -->
              <a class="btn btn-primary btn-floating m-3" style="background-color: #3b5998" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

              <!-- Twitter -->
              <a class="btn btn-primary btn-floating m-3" style="background-color: #55acee" href="#!" role="button"><i class="fab fa-twitter"></i></a>

              <!-- Google -->
              <a class="btn btn-primary btn-floating m-3" style="background-color: #dd4b39" href="#!" role="button"><i class="fab fa-google"></i></a>
            </section>
            <!-- Section: Social media -->


            <div class="row text-uppercase">
              <div class="col-3 footer-index">
                Về chúng tôi
              </div>
              <div class="col-3 footer-index">
                Điều khoản sử dụng
              </div>
              <div class="col-3 footer-index">
                Khuyến mãi
              </div>
              <div class="col-3 footer-index">
                Mua vé
              </div>
            </div>

            <!-- Address -->
            <div class="text-start mx-3 p-3">
              <img style="width: 250px; height: 85px;" src="assets/images/logo.png" alt="A04">
              <i>Số 280 đường Trần Hưng Đạo, phường An Hải Tây, quận Sơn Trà, TP. Đà Nẵng., Da Nang, Vietnam</i>
            </div>
            <!-- Address -->
          </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

      </div>
    </div>
  </div>
</div>
